@import url(https://fonts.googleapis.com/css?family=Work+Sans:300, 600);
/* quiz UI */

.cover {
  border: none;
  box-shadow: rgba(68, 68, 68, 0.123);
  background-color: #fff;
  /* margin: 5rem; */
  transform: translate(-50%, -35%);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40%;
}
.test-instruction p {
  font-size: 2rem;
  font-weight: 300;
  color: #51b64b;
}

.test-instruction li {
  padding-bottom: 0.5rem;
  font-size: 1rem;
}
.button-paragraph {
  text-align: center;
  height: 20px;
  padding: 10px;
}

.button-paragraph a {
  text-decoration: none;
  height: 20px;
  color: rgba(0, 0, 0, 0.527);
  font-size: 1rem;
}

.button-paragraph a:hover {
  text-decoration: none;
  height: 20px;
  color: #fff;
  font-size: 1rem;
}

#btnStartTest {
  height: 30px;
}

.div-test-instruction {
  text-align: left;
  padding: 2rem 3rem;
}
.ul-test-instruction {
  list-style: square;
}

.test-cover {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 53%;
  width: 70%;
  height: 500px;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0bb;
  box-shadow: #333;
 
}

#count {
  margin-top: 1rem;
}
h1 {
  font-weight: 300;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: rgb(109, 109, 109);
}
.question {
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label {
  display: block;
  margin-bottom: 10px;
}
button {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  background-color: #51b64b;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  /* position: absolute; */
  margin-top: 60px;
  margin-left: 0;
}
button:hover {
  background-color:  #367533d3;
  color:#fff ;
}
button:focus {
  border: 0;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide {
  opacity: 1;
  z-index: 2;
}
.quiz-container {
  position: relative;
  height: 200px;
  margin-top: 40px;
}
