* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }

  .nav-link{
      border: none;
      font-size: 1rem;

  }

  .nav-link a:hover{
      color: #51b64b;
  }
  
  body {
    font-family: "Gill Sans", "Gill Sans MT";
    font-family: 'Poppins', sans-serif;

  } 

  
  .btnfirst {
    width: 80px;
    border-radius: .4rem;
    padding: 8px 10px;
    font-family: 'Poppins', sans-serif;

  }

  .btnsecond {
    font-size: 1.5rem;
    border-radius: .4rem;
    padding: 8px 10px;
    font-family: 'Poppins', sans-serif;

  }
 
.buttons-small {
    height:100px;
}

.header__home-section {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;

}

.header-subject {
border-left: .7rem solid rgba(12, 202, 21, 0.4);
border-radius: .5rem;
padding-left: 10px;
font-size: 3rem;
color: #fff;  
font-family: 'Montserrat', sans-serif;
font-weight: 600;
margin-bottom: 3rem;
margin-top: 2rem;
}

.home-inner__text {
    color: aliceblue;
    margin-bottom: 2.8rem;
    font-size: 1.7rem;
    
}

.box {
padding: 15rem 10rem 1rem 6rem;
}

.col  a:hover {
    text-decoration: none;
}

  
/* search page */

.fieldset {
margin-top: 52px;
background: rgba(255,255,255,0.3);
border-radius: .4rem;
padding: 20px 0 20px 35px ;
display: flex;
flex-direction: row;
}

.fieldset .no-pad{
margin-right:1rem;   
padding:0;
}

.fieldset select.selectpicker, .fieldset .form-control {
width: 100%;
color: #6b797c;
padding: 8px 15px ;
border: none;
border-radius: 0;
height: auto;
line-height: 1.5;
font-size: 15px;
height:50px;
border-radius: .4rem;
}


.fieldset select.selectpicker:focus, .fieldset .form-control:focus, .fieldset .seub-btn:focus{
outline:none;
}

 .fieldset .border-right{
border-right:1px solid rgba(107,121,124,0.3) !important;
}

.fieldset .seub-btn {
    width: 100%;
    color: #ffffff;
    padding: 8px 10px;
    border: none;
    border-radius: .4rem;
    height: auto;
    line-height: 1.5;
    font-size: 20px;
    height:50px;
}

.count {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 300;
}


.count span {
    color: #51b64b;
    font-size: 2.2rem;
    font-weight: 600;
}
/* Search page ends*/

/*------login style---*/
section.login-wrapper {

    height: 95vh;

}

.containerLogin {

    text-align: center;
    padding: 2rem;
    margin-left: 25rem;
   border: 1px solid  #51b64b;
    width:40%;
    margin-top: 6rem;
}

#clickedButton h3 {

    color: #51b64b;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left;
    padding-bottom: 2rem;
    

}
#clickedButton a:hover{
    text-decoration: none;
}

#clickedButton input{
    margin-bottom: 2rem;
}

.displayError {
    color:red;
    margin-bottom: 1rem;
}
section.login-wrapper p a {
    color: #51b64b;
    font-weight: 600;
}
section.login-wrapper p{
margin-top:20px;
}
section.login-wrapper label, section.login-wrapper label a {
    font-weight: 400;
    display: block;
    text-align: left;
	color:#636e7b;
}



/* login ends */

/* job page */
.jobFilter {
    margin-top: 5rem ;
    margin-bottom: 7rem ;

}

.jobView{
    display: flex;
    /* justify-content: center; */
    width: 100%;
    position:relative;
}

.jobList {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

}
.searchList {
   
	top: 100px;
    left: 0;
    position: sticky;
    height: 50%;
    width: 40%;

}


.single-post{
    padding: 30px;
    box-shadow: 2px 2px 3px #01344481;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.jobName{
    margin-bottom: 2rem;
}

.jobDetails {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.411);

}

.noJob {
    margin:1rem 3rem;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

.single-post h4{
    font-size: 2rem;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.685);
 
}

.fon {
    color: rgba(0, 0, 0, 0.685);
    font-size: 100px;


}
.single-post h4:hover{
    color: #1f638a;
}
.single-post h6{
    font-size: 16px;

}

.single-post a.view {
    font-size: 18px;
    margin-right: 10px;
    padding: 5px 12px;
    background-color: #51b64b;
    align-self: center;
    border-radius: 3px;
    color: #fff;
    position: absolute;
    top:1rem;
    right:0;
}

.single-post a.view:hover{
    background-color: #fff;
    color:#51b64b;
    text-decoration: none;
}




.single-sidebar h4{
	color: green;
    text-align: left;
    
}




.search {
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 1rem;
  }

.searchTerm {
    width: 100%;
    border: 2px solid #51b64b;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: rgb(163, 163, 163);
  }
  
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #51b64b;
    background: #51b64b;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  
/* job ends */



/* admin page */

/* * {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#0CF;
} */

.form_container {
	max-width:500px;
	width:170%;
	margin:0 auto;
    position:relative;
    margin-top: 150px;
}

#admin_form input[type="text"], #admin_form input[type="email"], #admin_form input[type="tel"], #admin_form input[type="url"], #admin_form textarea, #admin_form button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#admin_form {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#admin_form h3 {
	color: #51b64b;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#admin_form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}
fieldset p {
    color:rgb(150, 146, 146);
    font-size: .7rem;
    padding: 0;
}

#admin_form input[type="text"], #admin_form input[type="email"], #admin_form input[type="tel"], #admin_form input[type="url"], #admin_form textarea {
	width:100%;
	border:1px solid #CCC;
	background:#fff;
	margin:0 0 5px;
	padding:10px;
}

#admin_formdescription input[type="text"]:hover, #admin_form input[type="email"]:hover, #admin_form input[type="tel"]:hover, #admin_form input[type="url"]:hover, #admin_form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#admin_form textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#admin_form button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#admin_form button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#admin_form button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#admin_form input:focus, #admin_form textarea:focus {
	outline:0;
	border:1px solid #999;
}
/* ::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
} */


/* admin ends */


/*------------------footer design-------------------------*/
footer{
    background:#242c36;
    padding:60px 0 0 0;

    
    }
    .copy-right{
    background:rgba(10,10,10,0.2);
    color: #fff;
    padding:12px 0;
    text-align:center;
    margin-top:50px;
    }
    .copy-right a{
    color:rgb(12, 202, 21);	
    }
    footer img{
    margin-bottom:20px;
    }
    footer h4{
    color:rgba(255,255,255,0.7);
    text-transform:uppercase;
    font-size:20px;
    font-weight:400;
    }
    footer ul{
    margin:0;
    padding:0;
    }
    footer ul li{
    list-style:none;
    }
    footer ul li a{
    color:#636e7b;
    line-height:2;
    }
    footer ul li a:hover{
    color:rgb(12, 202, 21);
    text-decoration: none;
    }
    footer address ul li{
    margin-bottom:10px;
    line-height:1.8;
    color:#636e7b;
    }
    footer .form-control {
        border: 1px solid #3f4a58;
        margin-bottom:7px;
        border-radius: 2px;
        box-shadow: none;
        color: #8796a9;
        height: 45px;
        font-size:14px;
        background: rgba(0, 0, 0, 0.4);
    }
    footer textarea.form-control{
    height:70px;
    }

    ul span{
        color: rgb(12, 202, 21);
    }
    /* footer button.btn.btn-success {
        border-radius: 2px;
        min-width: 120px;
        padding: 10px 0;
        text-align: center;
    } */

    /*footer ends  */